<div class="col">
	<div class="row">
		<div class="col">
      <h1 class="text-center">
         <%= @post.title %>
      </h1>
   </div>
</div>
	<div class="row">
		<div class="col-md-4">
        <%= image_tag @post.image,width: "100%" %>
       </div>
       <div class="col-md-8">
           <%= @post.content %>
        </div>
    </div>
</div>
